<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Calculate the distance between two coordinates on earth</h4>
    <form action = ".", method="post">
        <label for="point a">Gps coordinates for point A:</label>
        <input type="text" id="num1" name="coordA" required><br><br>
        <label for="point b">Gps coordinates for point B:</label>
        <input type="text" id="num2" name="coordB" required><br><br>
        <input type="submit" value="calculate">
      </form>

      <h4>{{answer}}</h4>
</body>
</html>
